
<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Initial or Current Risk Profile</h3>
        <div class="tile-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="tile">
                        <h3 class="tile-title">Project Size</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Criterias
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Size
                                    </th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Elapsed Duration (Months)
                                    </td>
                                    <td>6 months</td>
                                    <td>
                                        Small
                                    </td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>
                                        Budget (In $)
                                    </td>
                                    <td>$250 K</td>
                                    <td>
                                        Small
                                    </td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>
                                        Anticipated Effort (Man Months)
                                    </td>
                                    <td>< 30</td>
                                    <td>
                                        Small
                                    </td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>
                                        Average Team Size
                                    </td>
                                    <td>< 6</td>
                                    <td>
                                        Small
                                    </td>
                                    <td>1</td>
                                </tr>
                            </tbody>
                        </table>
                       
                    </div>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td style="background-color:green">
                                    < 15
                                </td>
                                <td>Low</td>
                                <td>
                                    Suggested Governance/Intervention: Manage By Exception
                                    <ul>•Review of Weekly Status report</ul>
                                    <ul>•Review of Monthly Status report</ul>
                                    <ul>•Strategic Review – Review of slidepack, SteerCo On Need Basis</ul>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color:yellow">
                                    15-25
                                </td>
                                <td>Medium</td>
                                <td>
                                    Suggested Governance/Intervention: Hold Monthly Catch-Up or on need basis
                                    <ul>•Review of Weekly Status report</ul>
                                    <ul>•Review of Monthly Status report</ul>
                                    <ul>•Strategic Review – SteerCo Monthly</ul>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color:red">
                                    >25
                                </td>
                                <td>High</td>
                                <td>
                                    Suggested Governance/Intervention: Hold Fortnightly Catch-Up or on need basis
                                    <ul>•Review of Weekly Status report</ul>
                                    <ul>•Review of Monthly Status report</ul>
                                    <ul>•Strategic Review – SteerCo Fortnightly</ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-primary btnPrevious">Previous</a>
